{{!-- <p>Code to view all the reports here...</p> --}}
<div style="text-align: center;"><h2>Admin</h2></div>

    <div class="dropdown" style="margin-left: 26%;;">
        <button onclick="myFunction()" class="dropbtn">Search by ward</button>
        <div id="myDropdown" class="dropdown-content">
            <input type="text" placeholder="Search by ward" id="myInput" onkeyup="filterFunction()">
            <a href="?WARD=Virdopur">Virdopur</a>
            <a href="?WARD=Raneepur">Raneepur</a>
        </div>
    </div>


<div style="text-align: center;"><h4>👇Report lists👇</h4></div>

{{#each data}}
<div class="card">
    <div class="container1">
        <h4><span style="float: left;">ward</span>
            
            <span id="show{{@key}}" style="float: right;" onclick="bringForm({{@key}})">
                <span>
                   🎯 
                </span>
            </span>

            <span id="hide{{@key}}" style="float: right; display: none;" onclick="closeForm({{@key}})">
                <span>
                   ❌ 
                </span>
            </span>

            <span style="float: right;">user |  </span>
        </h4>
        <br>
        <p>💨 {{ this.report.description }} </p>
        <h6>
            <span style="right: 0;"> {{formatDate this.createdAt 'MMMM Do YYYY, h:mm:ss a'}} </span>
        </h6>
        </div>
        <div id={{@key}} style="display: none;">
            <form id="form" method="POST" action="/admin/{{ this._id }}">
                <input type='hidden' name='_method' value='PUT'>
                <label for="report">Type your response here👇 </label>
                <textarea name="report" id="report" placeholder="{{ this.response.description }}" style="margin: 3px; width: 285px; height: 60px;"></textarea>
                <br>
                <button id="submit" type="submit">Submit</button>
            </form>
        </div>
    </div>

{{/each}}

<style>
    label{
        display: flex;
        flex-direction: row;
        margin-bottom: 2px;
    };
    #close{
        margin-left: 10px;
        margin-bottom: 2px;
    };
    
</style>

<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    function bringForm(id) {
        document.getElementById(id).style.display =  'block';
        document.getElementById("show"+id).style.display = "none";
        document.getElementById("hide"+id).style.display = "block";
        
    }

    function closeForm(id) {
        document.getElementById(id).style.display = "none";
        document.getElementById("hide"+id).style.display = "none";
        document.getElementById("show"+id).style.display = "block";
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>